@(member: Member)

@import controllers.Membership;

@fullName() = @{
	if (member != null) {
		member.firstName + " " + member.lastName
	} else {
		"Guest"
	}
}

@main("Demo app") {

    <header>
        <a href="@routes.Membership.register()" id="logo">Register</a>
    </header>
        
    @helper.form(routes.Membership.authenticate) {
		@if(flash.contains("errorLogin")) {
			<p>Invalid username or password</p>
		}
    	<input type="email" name="email" placeholder="Email" value="">
    	<input type="password" name="password" placeholder="Password">
    	<button type="submit">Login</button>
    }
    @helper.form(routes.Membership.logout) {
    	<button type="submit">Logout</button>
    }  
    
    @if(flash.contains("confirmationSuccess")) {
    	*** 1st visit ***
    }
    <h1>Hello @fullName()</h1>

    
}
