@(member: Member, groups: List[MGroup])

@import helper._
@import layouts._
@import tags._

@head = {
	<script type="text/javascript">
	
	$(function(){

		$("#showGroup").bind('click',function() {
		
			jsRoutes.controllers.Group.show().ajax({
				context: this,
				data:{
					groupId:$('input:radio[name=group]:checked').val()
				},
				success:function(data, textStatus, jqXHR) {
					$('#showGroupResult').html(data);
				},
				error:function() {
					alert("oups..");
				}
			});
			
		});
       	
	});
	</script>
}

@layout( "Profile" )(head) {
	
    Profile of : @member.firstName  @member.lastName
    @if( groups.size() > 0 ) {
    	<p>
	    	<b>Vos groupes</b>
		    @for(group <- groups ) {
		    	<input type="radio" name="group" value="@group.id">@group.name</input>
		    }
	    </p>
	    <button id="showGroup">show members</button>
    	<div id="showGroupResult"></div>
    }

}