@(form: Form[Register.RegisterModel])

<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo">Home</a>
        </header>
        
        @helper.form(routes.Register.add) {
            <h1>Register</h1>
            
            @if(form.hasGlobalErrors) {
		        Erreur : @form.globalError.message
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            } else {	            
	            <p><input type="email" name="email" placeholder="Email" value="@form("email").value"></p>
	            <p><input type="text" name="firstName" placeholder="FirstName" value="@form("firstName").value"></p>
	            <p><input type="text" name="lastName" placeholder="LastName" value="@form("lastName").value"></p>
	            <p><input type="password" name="password" placeholder="Password"></p>
	            <p><button type="submit">register</button></p>
            }
        }
        
    </body>
</html>

